.boxApresentacao{
    display: flex;
    align-items: center;
    width: 68%;
    height: 410px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color:#74945B;
    font-size: 2em;
    line-height: 1.4em;
    padding: 3% 6%;
}

.imgs2{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: 300px;
}
.imgs2 img{
    height: 86%;
}
.line{
    width: 80%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-top: 5%;
}