html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*____________________________________________________________________________*/
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #ffff;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 91vw;
    margin: .5vw;
    margin-bottom: 2%;
}
header img{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
}
.menu-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30%;
    width: 80vw;
    border-radius: 50px;
    background-color:#74945B;
}
.row-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95vw;
    font-size: 1.5em;
    padding: 0.3%;
    list-style: none;
}
.row-menu li a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.row-menu a:hover{

}
span .brigth{
    width: 3px;
    height: 5px;
    background-color: yellow;
    box-shadow: 0 0 5px yellow,
    0 0 25px yellow,
    0 0 50px yellow,
    0 0 100px yellow;
    animation-name: brilho;
    animation-timing-function: linear;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
@keyframes brilho {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: 100%;
    }
}
.boximg-Text{
    display: flex;
    justify-content:center;

}
.box-one{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boximg-Text img{
    overflow: hidden;
    width: 91vw;
}
.legnd{
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 92%;
    padding-left: 3vw;
}
.legnd span{
    width: 21%;
    height: 2px;
    background-color: rgb(251, 255, 0);
    margin: 2%;
}
.legnd h1{
    font-size: 5em;
    color: rgb(255, 255, 255);
}
.legnd h4{
    font-size: 2.8em;
    color: white;
}
#consc{
    margin-left: 11.5%;
}
.poupe{
    text-align: center;
    width: 26%;
}
.line1{
    width: 95%;
    height: 2px;
    background-color: #74945B;
    margin-top: 2.8%;
}
.ln{
    display: flex;
    justify-content: center;
}
.img{
    transition: .8s;
}
.img:hover{
    transform: scale(1.1);
    transition: .8s;
    box-shadow: 0 10px 10px rgb(160, 160, 160);
}